.mainContainer {
    @include tablet () {
        display: flex;
        flex-direction: row-reverse;
        background: linear-gradient($color-bg-landing, $color-secondary) ;
        
    }  
    &__card {
        @include tablet () {
            width: 50%;
            

            

    }} 
    &__pepino{
        @include tablet () {
           width: 50%; 
           
           
           

    }}     
}
