<section class="review">
    <div class="review__box">
    <button class="buttontrash"><i class="fa-regular fa-trash-can" style="color: #54585a;"></i>RESET</button>

    <article class="card js_preview pallete_style1">
        <div class="card__title">
            <h3 class="card__title--name" >Nombre Apellido</h3>
            <p class="card__title--text">Front-end developer</p>
        </div>
        <img class="card__img" src="./assets/images/arenita.jpg" alt="">
        <div>
            <ul class="card__links">
                <li class="card__links--box"><a href=""><i class="fa-solid fa-mobile-screen-button" style="color: #114e4e;"></i></a></li>
                <li class="card__links--box"><a href=""><i class="fa-sharp fa-regular fa-envelope" style="color: #114e4e;"></i></a></li>
                <li class="card__links--box"><a href=""><i class="fa-brands fa-linkedin-in" style="color: #114e4e;"></i></a></li>
                <li class="card__links--box"><a href=""><i class="fa-brands fa-github-alt" style="color: #114e4e;" ></i></a></li>
            </ul>
        </div>
    </div>   
    

    </article>
</section>