<section class="review">
    <button class="buttontrash"><i class="fa-regular fa-trash-can" style="color: #54585a;"></i>RESET</button>
    <article class="card">
        <div>
            <h3>Nombre Apellido</h3>
            <p>Front-end developer</p>
        </div>
        <img src="" alt="">
        <div>
            <ul>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
        
    

    </article>
</section>