<main>
<fieldset class="fieldset">
  <i
          class="article-logo fa-regular fa-object-ungroup"
          style="color: #e17334"
        ></i>
  <legend class="title1">diseña</legend>
  <label for="color" class="title2">colores</label>
  <div class="box">
  <input type="radio" name="palette" value="green" />
  <table class="table">
    <tr></tr>
    <td class="td_dark_green"></td>
    <td class="td_medium_green"></td>
    <td class="td_ligth_green"></td>
  </table>
  </div>
  <div class="box">
  <input type="radio" name="palette" value="red" />
  <table class="table">
    <tr></tr>
    <td class="td_dark_red"></td>
    <td class="td_red"></td>
    <td class="td_orange"></td>
  </table>
  </div>
  <div class="box">
  <input type="radio" name="palette" value="grey" />
  <table class="table">
    <tr></tr>
    <td class="td_grey"></td>
    <td class="td_yellow"></td>
    <td class="td_blue"></td>
  </table>
  </div>
  <hr class="line">
</fieldset>
</main>
