
    <fieldset class="fset">

        <div class="fset__comparte">
            <div class="fset__comparte--containerOne">
                <i class="article-logo fa-solid fa-share-nodes" style="color: #E17334"></i>
                <p class="subtitle">comparte</p>
            </div>
            <div class="fset__comparte--containerTwo">
                <i class="fa-solid fa-sort-down" style="color: #54585a;"></i>
            </div>
                
        </div>
        <div class="fset__crear">
            <button class="fset__crear--button">
                <i class="fa-regular fa-address-card" style="color: #ffffff;"></i>
                 Crear Tarjeta
            </button>
       </div>
          
        <article class="fset__creada">

                <p class="tarjeta">La tarjeta ha sido creada:</p>
                <p class="link">aqui aparece un link</p>
                <button class="bnttwitter"><i class="fa-brands fa-twitter fa-xl" style="color: #ffffff;"></i> Compartir en twitter</button>
               
            
        </article>
        
    </fieldset>

