
    <fieldset class="fset">

        <div class="fset__comparte js-share-box">
            <div class="fset__comparte--containerOne">
                <i class="article-logo fa-solid fa-share-nodes" style="color: #E17334"></i>
                <p class="subtitle">comparte</p>
            </div>
            <div class="fset__comparte--containerTwo js-arrow-share">
                <i class="fa-solid fa-sort-down" style="color: #54585a;"></i>
            </div>
                
        </div>
        
        <div class="fset__crear collapsed js-share-container">
            <div class="div-button">
            <button class="fset__crear--button js_boton">
                <i class="fa-regular fa-address-card" style="color: #ffffff;"></i>
                 Crear Tarjeta
            </button>
            </div>

            
            <article class="fset__creada collapsed js_Tcreada js_tcreada hide">
                <p class="tarjeta js_msg">La tarjeta ha sido creada:/ Hubo un error no se ha  creado la tarjeta</p>
                <a class="link js_link" href="" target="_blank"></a>
                <a class="js_twitter" href="https://twitter.com/"><button class="bnttwitter"><i class="fa-brands  fa-twitter fa-xl" style="color: #ffffff;"></i> Compartir en twitter</button></a>
            </article>
       </div>
          


        
        
    </fieldset>


    
    