<section >

    <article class="s1comparte">
        <i
         class="article-logo fa-solid fa-share-nodes"
         style="color: #E17334"></i>
        <p Class="s1comparteP">comparte</p>
        <i class="fa-duotone fa-address-card"></i>
        <button class="btn">crear tarjeta</button>
    </article>

   <article class="s2creada">
       <p class="s2creadaP">La tarjeta ha sido creada:</p>
       <p class="s2creadaL">aqui aparece un link</p>
       <button class="s2creadaB">Compartir en twitter</button>
   </article>
</section>