<fieldset class="fieldset">
  <div class="div1">
    <div class="div1_design">
      <i
        class="article-logo fa-regular fa-object-ungroup div1_logo"
        style="color: #e17334"
      ></i>
      <legend class="div1_title1">diseña</legend>
    </div>
    <div class="div1_arrow">
      <i class="fa-solid fa-sort-down" style="color: #54585a"></i>
    </div>
  </div>
  <div class="div2">
    <label for="color" class="title2">colores</label>
    <div class="box">
      <input type="radio" name="palette" value="green" class="js_radio1" />
      <table class="pallete1">
        <tr></tr>
        <td class="pallete1_darkgreen"></td>
        <td class="pallete1_mediumgreen"></td>
        <td class="pallete1_ligthgreen"></td>
      </table>
    </div>
    <div class="box">
      <input type="radio" name="palette" value="red" class="js_radio2" />
      <table class="pallete2">
        <tr></tr>
        <td class="pallete2_darkred"></td>
        <td class="pallete2_red"></td>
        <td class="pallete2_orange"></td>
      </table>
    </div>
    <div class="box">
      <input type="radio" name="palette" value="grey" class="js_radio3" />
      <table class="pallete3">
        <tr></tr>
        <td class="pallete3_grey"></td>
        <td class="pallete3_yellow"></td>
        <td class="pallete3_blue"></td>
      </table>
    </div>
  </div>
</fieldset>
