
<fieldset class="principalbox">

<div class="rellena">
    <div class="rellena__containerOne">
        <i class=" filllogo article-logo fa-regular fa-keyboard" style="color: #e17334"></i>
        <legend class="fill">rellena</legend>
    </div>
    <div class="rellena__containerTwo">
        <i class="fa-solid fa-sort-down" style="color: #54585a;"></i>
</div>
</div>

<div class="rellena2">
    <div class="divs"><label for="completename" class="filllabel">Nombre completo</label>
    <input id="completename" placeholder=" Ej : Sally Hill" type="text" name="name" class="fillinputs" />
    </div>

   
    <div class="divs"><label for="job" class="filllabel">Puesto</label>
    <input id="job" placeholder=" Ej : Front-end unicorn" type="text" name="name" class="fillinputs" />
    </div>

    <div class="divs"><label for="image" class="filllabel">Imagen de perfil</label>
        <div class="divimage">
            <input id="image" type="submit" value="Añadir imagen" name="name" class="fillinputs" />
            <div class="imagediv">
            </div>
        </div>
    </div>

    
    <div class="divs"><label for="email" class="filllabel">Email</label>
        <input id="email" placeholder=" Ej : sally-hill@gmail.com" type="text" name="name" class="fillinputs" />
    </div>

    
    <div class="divs"><label for="phone" class="filllabel">Teléfono</label>
        <input id="phone" placeholder=" Ej : 555-55-55-55" type="text" name="name" class="fillinputs" />
    </div>

    
    <div class="divs"><label for="linkedin" class="filllabel">Linkedin</label>
        <input id="linkedin" placeholder=" Ej : linkedin.com/in/sally.hill" type="text" name="name" class="fillinputs" />
    </div>

    
    <div class="divs"><label for="github" class="filllabel">Github</label>
        <input id="github" placeholder=" Ej : @sally-hill" type="text" name="name" class="fillinputs" />
    </div>

</div>

</fieldset>