
<fieldset class="principalbox">

<div class="rellena js-fill-box">
    <div class="rellena__containerOne">
        <i class=" filllogo article-logo fa-regular fa-keyboard" style="color: #e17334"></i>
        <legend class="fill">rellena</legend>
    </div>
    <div class="rellena_containerTwo js-arrow-fill">
        <i class="fa-solid fa-sort-down" style="color: #54585a;"></i>
</div>
</div>

<div class="rellena2 collapsed js-fill-container js_allInputs">
    <div class="divs"><label for="completename" class="filllabel">Nombre completo</label>
    <input id="name" placeholder=" Ej : Sally Hill" type="text" name="name" class="fillinputs js_fillinputs js_name" required/>
    <label class=" required js_name_msg"></label>
    </div>

   
    <div class="divs"><label for="job" class="filllabel">Puesto</label>
    <input id="job" placeholder=" Ej : Front-end unicorn" type="text" name="job" class="fillinputs js_fillinputs js_job" required/>
    <label class=" required js_job_msg"></label>
    </div>

    <div class="divs"><label for="image" class="filllabel">Imagen de perfil</label>
        <div class="buttonimage">
            <label class=divimage for="image">Añadir imagen</label>
            <input id="image" type="file" value="Añadir imagen" name="image" class=" js_imageBtn js_fillinputs imagebtn" required/>
            <label class=" required js_image_msg"></label>
            <div class="imagediv js_previewImage">
            </div>
        </div>
    </div>

    
    <div class="divs"><label for="email" class="filllabel">Email</label>
        <input id="email" placeholder=" Ej : sally-hill@gmail.com" type="text" name="name" class="fillinputs js_email" required/><label class=" required js_emailMessage js_email_msg"></label>
    </div>

    
    <div class="divs"><label for="phone" class="filllabel">Teléfono</label>
        <input id="phone" placeholder=" Ej : 555-55-55-55" type="tel" name="name" class="fillinputs js_phone" required/>
    </div>

    
    <div class="divs"><label for="linkedin" class="filllabel">Linkedin</label>
        <input id="linkedin" placeholder=" Ej : linkedin.com/in/sally.hill" type="text" name="name" class="fillinputs js_linkedin"/>
        <label class=" required js_linkedin_msg"></label>
    </div>

    
    <div class="divs"><label for="github" class="filllabel">Github</label>
        <input id="github" placeholder=" Ej : @sally-hill" type="text" name="name" class="fillinputs js_github"/>
        <label class=" required js_github_msg"></label>
    </div>

</div>

</fieldset>