// colores
$color-bg-landing: #f5f5f5;
$color-secondary: #ffffff;
$color-accent: #e17334;
$color-subtitle: #114e4e;
$color-text: #54585a;
$color-accent-two: #438792;
$color-border: #a2deaf;
$color-text-placeholder: #c5c5c5;
$color-text-footer: #6b6b6b;
$color-bg-gradient-top: #bfcdd0;
$color-bg-gradient-bottom: #dde9ed;
$color-design-dark-red: #420101;
$color-design-medium-red: #bd1010;
$color-design-light-red: #e95626;
$color-design-dark-teal: #3e5b65;
$color-design-medium-teal: #eab052;
$color-design-light-teal: #a0c0cf;
$color-bg-twitter: #00a0f5;

//fuentes


