.review {
     background: linear-gradient($color-bg-gradient-top, #dde9ed) ;
     min-height: 457px;
     display: flex;
     flex-direction: column;
     @include tablet () {
          height: 100vh;
          display: flex;     
          flex-direction: column;
          justify-content: center;          
          align-items: center;
          min-height: 830px;
          margin: 20px 40px 20px 30px;
          border-radius: 6px;
     }   
    
}   
.buttontrash {
          
     width: 75px;
     height: 30px;
     border: solid 1px $color-secondary;
     border-radius: 15px;
     background-color: $color-bg-gradient-top;
     margin-top: 38px;
     margin-bottom: 20px;
     margin-left: 45px;
     @include tablet () {
          margin: 0;
          margin-bottom: 15px;    
          align-self: flex-start;
               
               
     }
}

.card {
     background-color: $color-secondary;
     width: 240px;
     margin-left: 45px;
     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
     padding-top: 1px;
     padding-bottom: 1px;
     
     @include tablet () {
         margin-left: 0;
         padding: 20px auto;
         
         
     } 
     &__title {
          margin-top: 21px;
          margin-bottom: 10px;
          font-family: $font-subtitle;
          &--name {
               font-weight: bold;
               margin-left: 15px;
               line-height: 1.11rem;
               font-size: 1.125rem;
          }
          &--text {
               margin-left: 15px;
               line-height: 1.25;
               font-size: 1rem;
          }
     }
     &__img {
          width: 240px;
          height: 200px;
         background-size:cover;
         background-image: url("../images/arenita.jpg"); 
     }
     &__links {
          display: flex;
          flex-direction: row;
          gap: 10px;
          margin-top: 12px;
          margin-bottom: 12px;
          margin-left: 20px;

          
          &--box {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
     }
     }
     
}

.pallete_style1 {
     .card__title {
          border-left: solid 3px $color-subtitle;
     }
     .card__title--name {
          color: $color-subtitle;
     }
     .card__title--text {
          color: $color-accent-two;
     }
     .card__links--box {
          border: solid 2px $color-border;
     }
     .js_phoneIcon {
          color: $color-subtitle;
     }
     .js_mailIcon {
          color: $color-subtitle;
     }
     .js_linkedinIcon {
          color: $color-subtitle;
     }
     .js_githubIcon {
          color: $color-subtitle;
     }

}

.pallete_style2 {
     .card__title {
          border-left: solid 3px $color-design-dark-red;
     }

     .card__title--name {
          color: $color-design-dark-red;
     }

     .card__title--text {
          color: $color-design-medium-red;
     }

     .card__links--box {
          border: solid 2px $color-design-light-red;
     }
     .js_phoneIcon {
          color: $color-design-dark-red;
     }
     .js_mailIcon {
          color: $color-design-dark-red;
     }
     .js_linkedinIcon {
          color: $color-design-dark-red;
     }
     .js_githubIcon {
          color: $color-design-dark-red;
     }
}

.pallete_style3 {
     .card__title {
          border-left: solid 3px $color-design-dark-teal;
     }

     .card__title--name {
          color: $color-design-dark-teal;
     }

     .card__title--text {
          color: $color-design-medium-teal;
     }

     .card__links--box {
          border: solid 2px $color-design-light-teal;
     }
     .js_phoneIcon {
          color: $color-design-dark-teal;
     }
     .js_mailIcon {
          color: $color-design-dark-teal;
     }
     .js_linkedinIcon {
          color: $color-design-dark-teal;
     }
     .js_githubIcon {
          color: $color-design-dark-teal;
     }
}

.fa-trash-can {
     font-size: 12px;
     padding: 0;
     margin-right: 6px;
     
}
.fa-envelope {
     position: relative;
     left: 2px;
}

