.fieldset {
   width: 100%;
   margin-top: 27px;
}
.div1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-left: 40px;
    margin-right: 20px;
    border-bottom: 1px solid $color-line;
    &_design {
        display: flex;
        flex-direction: row;
        margin: 0  5px 0 15px;
    }
    &_arrow {
        display: flex;
        flex-direction: row;
       
    }
    &_title1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 21px;
        width: 65px;
        text-transform: uppercase;
        color: $color-text;
        font-family: $font-text;
        font-size: 1.125rem;
        font-weight: 600;
    }
    &_logo {
        position: relative;
        font-size: 12px;
    }
}

.div2{
    margin-left: 39px;
    margin-right: 20px;
}
.title2 {
    margin-top: 22px;
    width: 62px;
    height: 19px;
    font-size: 0.875rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    color: $color-text;
    font-family: $font-text;

}
.box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
.pallete1 {
    width: 90px;
    margin-bottom: 15px;
    margin-top: 20px;
    &_darkgreen {
        background-color: $color-subtitle;
        width: 30px;
        height: 25px;
    }
    &_mediumgreen{
        background-color: $color-accent-two;
    }
    &_ligthgreen{
        background-color: $color-border;
    }
}

.pallete2 {
    width: 90px;
    margin-bottom: 15px;
    margin-top: 20px;
    &_darkred {
        background-color: $color-design-dark-red;
        width: 30px;
        height: 25px;;
    }
    &_red{
        background-color: $color-design-medium-red;
    }
    &_orange{
        background-color: $color-design-light-red;
    }
}

.pallete3 {
    width: 90px;
    margin-bottom: 15px;
    margin-top: 20px;
    &_grey {
        background-color: $color-design-dark-teal;
        width: 30px;
        height: 25px;
    }
    &_yellow{
        background-color: $color-design-medium-teal;
    }
    &_blue{
        background-color: $color-design-light-teal;
    }
}

.collapsed {
    display:none
}
.rotate {
     rotate: 180deg;
}

// @media screen and (min-width: 768px){
//     .fieldset {
//         // max-width: 439px;
//     }
//     .div1 {
//         margin-left: 40px;
//     }
//     .div2 {
//         margin-left: 39px;
//     }

// }

