
.a1{

    width: 100vw;
    display: flex;
    flex-direction:column;
    justify-content: center;
    border-bottom: 5px;
   /* margin-bottom: 30px;
    margin-left: 61px;
    margin-right: 60px;*/    

}

.article-logo{
    padding: 20px;
}

.subtitle{
    padding: 20px;
}



.a1__comparte{
    text-transform: uppercase;
    font-size: 1.125rem;
    color: #54585A;
    background-color: aqua;
    display: flex;
    flex-direction: row;



}


.a1__crear{

    
    text-transform: uppercase;
    background-color: orange;
    width: 200px;
    height: 60px;
    margin-left: 16%;
    margin-right: 30%;
    border-radius: 20px;
    margin-top: 30px;
}


.a2creada{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    border-bottom: 5px;
    
}

.a2creada__P{

    font-size: 1.125rem;
    color:#54585a ;
    margin-bottom: 20px;

}
.a2creada__L{

      color: orange;
      margin-bottom: 20px;
}

.a2creada__B{
    width: 200px;
    height: 40px;
    
    border-radius: 20px;
    background-color: lightblue;
    margin-bottom: 20px;
}




