
.sectionshare{
    width: 100%;
    height: 30%;

   
    
}


.a1{

    width: 100%;
    height: 50%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    border-bottom: 5px;
    margin-bottom: 30px;
    margin-left: 61px;
    margin-right: 60px;
    align-items: center; 
      

}



.a1__comparteP{
    height: 50%;
    text-transform: uppercase;
    font-size: 1.125rem;
    color: #54585A;
    background-color: aqua;
    justify-content: flex-start;

    

}


.a1__crear{

    
    text-transform: uppercase;
    background-color: orange;
    width: 200px;
    height: 60px;
    margin-left: 16%;
    margin-right: 30%;
    border-radius: 20px;
    margin-top: 30px;
}


.a2creada{
    height: 50%;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    border-bottom: 5px;
    
}

.a2creada__P{

    font-size: 1.125rem;
    color:#54585a ;
    margin-bottom: 20px;

}
.a2creada__L{

      color: orange;
      margin-bottom: 20px;
}

.a2creada__B{
    width: 200px;
    height: 40px;
    
    border-radius: 20px;
    background-color: lightblue;
    margin-bottom: 20px;
}




