.fieldset {
   width: 100%;
   margin-top: 27px;
   border-bottom: 1px solid;
    
}
.title1 {
    margin-left: 21px;
    width: 65px;
    height: 24px;
    text-transform: uppercase;
    color: #54585a;
    font-size: 1.125rem;

}
.title2 {
    margin-left: 39px;
    margin-top: 22px;
    width: 62px;
    height: 19px;
    font-size: 0.875rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    color: #54585a;

}
.box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    gap: 10px;
}
.table {
    width: 90px;
    margin-bottom: 15px;
    margin-top: 20px;   
    
}
.td_dark_green {
    background-color: #114e4e;
    width: 30px;
    height: 25px;
}
.td_medium_green {
    background-color: #438792;

}
.td_ligth_green {
    background-color: #a2deaf;
}
.td_dark_red {
    background-color: #420101;
    width: 30px;
    height: 25px;
}
.td_red {
    background-color: #bd1010;
}
.td_orange {
    background-color: #e95626;
}
.td_grey {
    background-color: #3e5b65;
    width: 30px;
    height: 25px;
}
.td_yellow {
    background-color: #eab052;
}
.td_blue {
    background-color: #a0c0cf;
}

.caja1{
    display: flex;
    flex-direction: row;
    gap: 10px;
}