body {
  height: 100vh;
}


.footer {
  width: 100vw;
  border-top: 1px solid $color-line;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  padding-top: 10px;
  background-color: $color-secondary;
  @include tablet () {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;
    background-color: $color-secondary;
}

  &__text {
    font-size: 0.87rem;
    font-family: $font-text;
    line-height: 1.25rem;
    color: $color-text-footer;
    opacity: 0.5;
    @include tablet () {
      margin-left: 40px;     
  }
  }
  &__image {
    width: 103px;
    margin: 12px;
    @include tablet () {
      margin-right: 40px;
  }
  }
}
