.image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  
  &__header{
   
    width: 250px;
    margin: 35px;
    margin-top: 95px;
    @include tablet () {
      width: 420px;
      
  }
  }
}